.contact__wrap {
	width: 100%;
	padding: 6% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #000;
}
.contact__wrap {
	color: #fff;
}
.contact__wrap > h2 {
	padding: 30px;
}
.contact__box {
	padding: 60px 20px;
	display: flex;
	color: #fff;
}
.contact__box-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0 30px;
	border-right: 1px solid #ddd;
}
.contact__box-top p {
	font-size: 26px;
	letter-spacing: 2rem;
	line-height: 1.5;
	font-family: GangwonEduPowerExtraBoldA;
}
.contact__box-top p:last-child {
	font-size: 20px;
	letter-spacing: 0.1rem;
}
.contact__box-bottom {
	padding: 0 10px;
	display: flex;
	flex-direction: column;
}
.contact__box-bottom a {
	display: flex;
	align-items: center;
}
.contact__box-bottom svg {
	width: 30px;
	height: 30px;
	margin: 20px;
	fill: #fff;
}
.contact__box-bottom span {
	color: #fff;
	font-size: 17px;
	padding-top: 6px;
	letter-spacing: 0.1rem;
}

@media all and (max-width: 768px) {
	.contact__box {
		padding: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact__box-top {
		align-items: center;
		padding: 30px 0;
		border: none;
	}
	.contact__box-top p {
		letter-spacing: 0.1rem;
	}
	.contact__box-bottom {
		padding: 0;
		display: flex;
		flex-direction: row;
	}
	.contact__box-bottom a {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.contact__box-bottom svg {
		width: 26px;
		height: 26px;
		fill: #fff;
	}
	.contact__box-bottom span {
		display: none;
	}
}
