.contact__wrap {
	width: 100%;
	height: 100vh;
	/* border: 1px solid blue; */
	/* background-color: #3abafa; */
	/* background-color: rgba(254, 252, 21, 0.1); */
	/* background-color: rgba(0, 0, 0, 0.5); */
	background-color: #ccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact__wrap h2 {
	font-size: 10rem;
	font-family: GangwonEduPowerExtraBoldA;
	/* opacity: 0.3; */
	color: #fefc15;
	/* border: 1px solid red; */
	padding: 40px 0;
}

.contact__box {
	display: flex;
	flex-direction: column;
	/* border: 1px solid red; */
}
.contact__box-top {
	padding: 10px 0;
	/* border: 1px solid red; */
}
.contact__box-top p {
	font-size: 30px;
	/* color: #222; */
	opacity: 0.8;
	letter-spacing: 0.1rem;
}
.contact__box-bottom {
	display: flex;
	flex-direction: column;
}
.contact__box-bottom a {
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
}
.contact__box-bottom svg {
	width: 50px;
	height: 50px;
	margin: 10px;
	/* fill: #222; */
}
.contact__box-bottom span {
	/* color: #222; */
	font-size: 20px;
	padding-top: 6px;
	letter-spacing: 0.1rem;
}
