.footer__wrap {
	width: 100%;
	padding: 6% 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	line-height: 100px;
	background: #444;
}
.footerInfo {
	margin: 0 auto;
	font-size: 17px;
	letter-spacing: 0.1rem;
	text-align: center;
	color: #fff;
}

@media all and (max-width: 480px) {
	.footerInfo {
		font-size: 13px;
	}
}
