.header__wrap {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #fff;
}
.header__wrap h1 {
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 50px;
}
.header__wrap h1 a {
	width: 100%;
	height: 100%;
	padding: 12px 0 0;
	display: inline-block;

	font-size: 20px;
}
.header__wrap h1 a p {
	font-family: GangwonEduPowerExtraBoldA;
}
.main__menu {
	height: 80px;
	margin: 0 50px;
}
.main__menu li {
	height: 100%;
	padding: 0 30px;
	display: inline-block;
	text-align: center;
}
.main__menu li a {
	width: 100%;
	height: 100%;
	padding: 10px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: GangwonEduPowerExtraBoldA;
	font-size: 22px;
}

.ham__btnbox {
	display: none;
}

@media all and (max-width: 1024px) {
	.header__wrap {
		height: 60px;
	}
	.header__wrap h1 {
		width: auto;
		height: 60px;
		z-index: 1;
		margin: 0 20px;
	}
	.header__wrap h1 a {
		padding: 8px 0 0;
		display: flex;
		align-items: center;
	}
	.main__nav {
		width: 100%;
		height: auto;
		padding: 60px 0 0;
		position: absolute;
		left: 0;
		top: -100vh;
		background-color: rgb(235, 235, 235);
	}
	.main__menu {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.main__menu li {
		height: 60px;
		margin: 20px;
		display: block;
	}
	.main__menu li a {
		width: 100%;
		height: 100%;
		padding: 10px 0 0;
		font-size: 20px;
	}

	.ham__btnbox {
		width: 60px;
		height: 60px;
		margin: 0 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
	}
	.ham__btnbox span {
		width: 32px;
		height: 3px;
		display: block;
		background-color: #000;
		transition: all 0.5s ease-out;
	}
	.ham__middle-btn {
		margin: 6px 0;
	}
	.ham__btnbox.active .ham__middle-btn {
		display: none;
	}
	.ham__btnbox.active span:not(.ham__middle-btn) {
		width: 36px;
		position: absolute;
		top: calc(50% - 1px);
		transform: rotate(45deg);
		background-color: #000;
	}
	.ham__btnbox.active span:nth-child(3) {
		transform: rotate(-45deg);
	}
}

@media all and (max-width: 480px) {
	.header__wrap h1 a {
		font-size: 16px;
	}
	.main__nav {
		height: 100vh;
	}
	.header__wrap h1 {
		margin: 0 10px;
	}
	.ham__btnbox {
		margin: 0 10px;
	}
	.ham__btnbox {
		width: 30px;
	}
	.ham__btnbox span {
		width: 28px;
		height: 2px;
	}
	.ham__middle-btn {
		margin: 4px 0;
	}
	.ham__btnbox.active span:not(.ham__middle-btn) {
		width: 30px;
	}
}
