h2 {
  font-size: 2em;
  color: #4b4453;
  text-align: center;
  padding: 40px 0 0 0;
}
#mainBox {
  padding: 60px 0 0 0;
  width: 100%;
  height: 100vh;
  background-color: #bdbdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  margin: 80px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.loading .loading__name span,
.loading .loading__portfolio span {
  display: inline-block;
  margin: 0 -0.015em;
  animation: loading 5s infinite alternate;
  font-size: 3em;
  color: #ad7dc8;
}
.loading__portfolio {
  margin: 0 0 0 26px;
}
.loading .loading__name span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading .loading__name span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading .loading__name span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading .loading__name span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading .loading__name span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading .loading__name span:nth-child(7) {
  animation-delay: 0.7s;
}
.loading .loading__name span:nth-child(8) {
  animation-delay: 0.8s;
}
.loading .loading__name span:nth-child(9) {
  animation-delay: 0.9s;
}
.loading .loading__name span:nth-child(10) {
  animation-delay: 1s;
}
.loading .loading__name span:nth-child(11) {
  animation-delay: 1.1s;
}
.loading .loading__name span:nth-child(12) {
  animation-delay: 1.2s;
}
.loading .loading__name span:nth-child(13) {
  animation-delay: 1.3s;
}
.loading .loading__portfolio span:nth-child(1) {
  animation-delay: 1.4s;
}
.loading .loading__portfolio span:nth-child(2) {
  animation-delay: 1.5s;
}
.loading .loading__portfolio span:nth-child(3) {
  animation-delay: 1.6s;
}
.loading .loading__portfolio span:nth-child(4) {
  animation-delay: 1.7s;
}
.loading .loading__portfolio span:nth-child(5) {
  animation-delay: 1.8s;
}
.loading .loading__portfolio span:nth-child(6) {
  animation-delay: 1.9s;
}
.loading .loading__portfolio span:nth-child(7) {
  animation-delay: 2s;
}
.loading .loading__portfolio span:nth-child(8) {
  animation-delay: 2.1s;
}
.loading .loading__portfolio span:nth-child(9) {
  animation-delay: 2.2s;
}

@keyframes loading {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}

#mainBox p {
  font-family: "LeferiPoint-WhiteA";
  font-size: 1.2em;
  font-weight: 400;
  color: #f8f8f8;
  width: 80%;
  line-height: 1.3em;
  text-align: center;
  margin: 0 0 60px 0;
}

/* scroll animation */
.scrollAni {
  padding-top: 56px;
  position: relative;
  color: #fff;
}

.scrollAni span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
.scrollAni:hover {
  color: #ad7dc8;
}
.scrollAni:hover span {
  border-left: 1px solid #ad7dc8;
  border-bottom: 1px solid #ad7dc8;
}

@media screen and (max-width: 768px) {
  .loading {
    border: 1px solid red;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
  }
  .loading .loading__name span {
    padding: 0 0 8px 0;
  }
  #mainBox p {
    font-size: 1.1em;
    margin: 0 0 40px 0;
  }
  .loading__portfolio {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .loading .loading__name span,
  .loading .loading__portfolio span {
    font-size: 2em;
  }
  #mainBox p {
    width: 100%;
    font-size: 1em;
    margin: 0 0 80px 0;
  }
}

#about {
  width: 100%;
  height: 100vh;
  padding: 60px 0 0 0;
  background-color: #f0eefe;
}

#skills {
  width: 100%;
  height: 100vh;
  padding: 60px 0 0 0;
  background-color: #e0ddfe;
}
.skills__box {
  /* youtube 만드는 거에서 떨어지는거...로 해야하나?....
  어떻게 정렬하지  */
  display: flex;
  border: 1px solid blue;
  padding: 50px 100px;
  justify-content: center;
  align-items: center;
}
.skills__box li {
  border: 1px solid red;
}

#skills img {
  width: 100px;
}

#works {
  width: 100%;
  height: 100vh;
  padding: 60px 0 0 0;
  background-color: #f9f8ff;
}
#contact {
  width: 100%;
  /* height: 500px; */
  padding: 60px 0 0 0;
  background-color: #f0eefe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__infoBox {
  padding: 50px 20px;
}

.contact__infoBox li {
  margin: 0 0 16px 0;
}
.contact__infoBox li a {
  display: flex;
  align-items: center;
}
.contact__infoBox li a svg {
  width: 20px;
  height: 20px;
  fill: #4b4453;
}

.contact__infoBox li a:hover svg {
  fill: #c493ff;
}

.contact__infoBox li a span {
  padding: 5px 0 0 16px;
}

footer {
  width: 100%;
}
.footerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bdbdfd;
  padding: 50px 0 40px 0;
}
.footerInfo {
  padding: 30px 0 0 0;
  color: #fff;
}

.topBtn {
  padding-top: 36px;
  position: relative;
  color: #fff;
}

.topBtn span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.topBtn:hover span {
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(10px, -10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(10px, -10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
