.main__wrap {
	width: 100%;
	padding: 16% 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0.8;
	position: relative;
}

.main__wrap h1 {
	font-family: GangwonEduPowerExtraBoldA;
	font-size: 62px;
	font-weight: 600;
	padding: 50px 0;
}

.main__wrap p {
	font-size: 30px;
	font-weight: 500;
	line-height: 2;
	padding: 20px 0;
}

/* 스크롤 */
.scroll__box {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0 4% 0;
}
.scroll__btn {
	padding-top: 60px;
	font-size: 22px;
	color: #94d8f6;
}
.scroll__btn > span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-left: -12px;
	border-left: 4px solid #94d8f6;
	border-bottom: 4px solid #94d8f6;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
}
/* @-webkit-keyframes sdb {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
} */
@media all and (max-width: 1024px) {
	.main__wrap {
		margin: 10% 0;
	}
}

@media all and (max-width: 768px) {
}
@media all and (max-width: 480px) {
	.main__wrap {
		margin: 20% 0;
	}
}
