.skills__wrap {
	width: 100%;
	height: 100vh;
	/* border: 1px solid blue; */
	position: relative;
	/* z-index: 10; */
	/* background-color: rgba(58, 186, 250, 0.1); */
}
.skills__wrap h2 {
	font-size: 10rem;
	font-family: GangwonEduPowerExtraBoldA;
	position: absolute;
	left: 0;
	top: 45%;
	/* transform: translateY(-50%); */
	opacity: 0.3;
	padding: 0 0 0 2%;
	color: #595959;
	/* border: 1px solid red; */
}

.skills__box {
	width: 60%;
	padding: 10px 2%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.skills01,
.skills02 {
	display: flex;
	justify-content: center;
	font-size: 17px;
}
.skills01 > div,
.skills02 > div {
	width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/* border: 1px solid rebeccapurple; */
	padding: 30px;
}
/* .skills01 > div:nth-child(odd),
.skills02 > div:nth-child(even) {
	background-color: rgba(255, 113, 1, 0.2);
}
.skills01 > div:nth-child(even),
.skills02 > div:nth-child(odd) {
	background-color: rgba(166, 166, 166, 0.2);
} */
.skills__imgbox {
	width: 100%;
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.skills01 img {
	width: 120px;
	/* height: auto; */
	/* border: 1px solid red; */
	margin: 0;
}
.skills02 img {
	width: 150px;
}

.skills01 div strong,
.skills02 div strong {
	display: block;

	font-size: 20px;
	padding: 10px;
}
.skills01 div p,
.skills02 div p {
	word-break: keep-all;
	text-align: center;
	line-height: 1.5;
}
