.works__wrap {
	width: 100%;
	height: 100vh;
	/* border: 1px solid blue; */
	position: relative;
	/* background-color: rgba(89, 89, 89, 0.1); */
}

.works__wrap h2 {
	font-size: 10vw;
	font-family: GangwonEduPowerExtraBoldA;
	position: absolute;
	right: 0;
	top: 200px;
	/* transform: translateY(-50%); */
	opacity: 0.2;
	padding: 0 2% 0 0;
	color: #ffdf25;
	/* border: 1px solid red; */
}

.work__view {
	margin: 0 auto;
	width: 96%;
	height: 400px;
	/* border: 1px solid green; */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 100px;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.work__view ul {
	display: flex;
	width: 200%;
	height: 100%;
}
.work__view ul:first-child {
	margin-bottom: 20px;
}

.works {
	width: 100%;
	height: 100%;
	/* border: 1px solid blue; */
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/* background-color: rgba(235, 235, 235, 0.5); */
	/* box-shadow: rgba(95, 95, 95, 0.15) 2.4px 2.4px 3.2px; */
	/* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
}
/* .works:hover {
	transform: scale(1.5);
	opacity: 1;
} */
video {
	/* max-width: 80%; */
	/* display: block; */
	width: 100%;
	height: 100%;

	/* height: 300px; */
	/* border: 2px solid #ddd; */
	/* border-radius: 20px; */
}
.works img {
	width: 100%;
}

.works h3 {
	font-size: 20px;
	padding: 14px;
	color: #292929;
}
.works__btnbox {
	/* border: 1px solid red; */
	position: absolute;
	/* width: 100px */
	/* width: 100%; */
	/* height: 20px; */
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.works__btn {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 2px;
	border-radius: 50%;
	background-color: #ccc;
	cursor: pointer;
}
.select__btn {
	width: 36px;
	border-radius: 45px;
	background-color: #ffdf25;
}
