.animated {
	transition: all 0.6s ease-in-out;
}
.works__wrap {
	width: 100%;
	padding: 6% 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
}

.work__view {
	margin: 0 auto;
	width: 80%;
	height: 500px;
	overflow: hidden;
	/* border: 1px solid green; */
}

.work__view ul {
	display: flex;
	width: 300%;
	height: 100%;
	/* position: absolute;
	left: 0;
	top: 0; */
	border: 1px solid red;
}
.work__view ul:first-child {
	margin-bottom: 20px;
}

.works {
	width: 100%;
	height: 100%;
	border: 1px solid blue;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/* background-color: rgba(235, 235, 235, 0.5); */
	/* box-shadow: rgba(95, 95, 95, 0.15) 2.4px 2.4px 3.2px; */
	/* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
}
/* .works:hover {
	transform: scale(1.5);
	opacity: 1;
} */
video {
	/* max-width: 80%; */
	/* display: block; */
	width: 100%;
	height: 100%;

	/* height: 300px; */
	/* border: 2px solid #ddd; */
	/* border-radius: 20px; */
}
.works img {
	width: 100%;
}

.works h3 {
	font-size: 20px;
	padding: 14px;
	color: #292929;
}
/* .works__LRbox {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.works__LRbox a {
	display: inline-block;
	width: 50px;
	height: 50px;
}
.works__LRbox a svg {
	width: 50px;
	height: 50px;
	fill: #ffdf25;
} */

.works__btnbox {
	border: 1px solid red;
	/* position: absolute; */
	/* width: 100px */
	width: 100%;
	/* height: 20px; */
	/* bottom: 12%;
	left: 0; */
	text-align: center;
}

.works__btn {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 2px;
	border-radius: 50%;
	background-color: #ccc;
	cursor: pointer;
}
.select__btn {
	width: 36px;
	border-radius: 45px;
	background-color: #ffdf25;
}

/* /_ PC , 테블릿 가로 (해상도 ~ 1024px) _/ */
@media all and (max-width: 1024px) {
}

/* /_ 테블릿 세로 (해상도 ~ 768px) _/ */
@media all and (max-width: 768px) {
}

/* /_ 모바일 가로, 테블릿 세로 (해상도 ~ 480px) _/ */
@media all and (max-width: 480px) {
}
